* {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

body, html {
  height: 100%;
  background-color: white;
  color: black;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: black;
}

.wrapper {
  min-height: 100vh;
}

.header {
  position: relative;
  background-color: #BDBC2E;
  padding-top: 1%;
  padding-bottom: 8px;
}

.name {
  text-align: center;
  margin: 0px;
  font-size: 4em;
  color: #FFFFFF;
}

.subtitle {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  color: #FFFFFF;
}

/* desktop styles for the header */
@media (min-width: 1000px) {
  /* ... */
}

.content {
  clear: both;
  margin-top: 4%;
  padding: 0% 5% 0% 5%;
}

/* tablet && landscape phone styles for content */
@media (min-width: 600px), handheld and (orientation: landscape){
  /* ... */
}

/* desktop styles for content */
@media (min-width: 1000px) {
  /* ... */
}

.space-filler, .footer {
  height: 20px;
  clear: both;
  position: bottom;
}

.footer {
  background-color: #BDBC2E;
  margin-top: -20px;  /* must be the same as the height */
  width: 100%;
}

.footer-text {
  text-align: center;
  color: white;
}