* {
  font-family: sans-serif;
  margin: 0px;
}

body, html {
  height: 100%;
  background-color: white;
  color: black;
}

/* all links look the same. No worries. */
a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: black;
}

.wrapper {
  min-height: 100vh;
}

/* edit header and footer colors here */
.header, .footer {
  background-color: black;
  color: white;
}

.header {
  position: relative;
}

h1.title {
  text-align: center;
  margin: 0px;
  font-size: 4em;
}

h2.subtitle {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* desktop styles for the header */
@media (min-width: 1000px) {
  /* ... */
}

.content {
  clear: both;
}

.grid-list {
  padding: 0;
  list-style-type: none;
}

.grid-list-item {
  clear: none;
  /*margin-top: 3%;*/
  padding: 3%;
  margin: auto;
  text-align: center;
  vertical-align: text-top;
  width: 80%;
}

/* tablet && landscape phone styles for elements within wrapper */
@media (min-width: 600px), handheld and (orientation: landscape){
  .grid-list-item {
    float: left;
    min-height: 18rem;
    height: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 45%;
  }
}

/* desktop styles for elements within wrapper */
@media (min-width: 1000px) {
  .grid-list-item {
    float: left;
    min-height: 15em;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    width: 27.333%;
  }
}

.space-filler, .footer {
  height: 1.5em;
  clear: both;
  position: bottom;
}

.footer {
  background-color: black;
  margin-top: -1.5em;  /* must be equal to height * -1 */
  width: 100%;
}

.footer-text {
  text-align: center;
}