* {
  font-family: sans-serif;
  margin: 0px;
}

body, html {
  height: 100%;
  background-color: white;
  color: black;
}

.vp-wrapper {
  min-height: 100vh;
}

/* edit header and footer colors here */
.vp-header, .vp-footer {
  background-color: black;
  color: white;
  width: 100%;
}

.vp-header {
  position: relative;
}

h1.vp-title {
  text-align: center;
  margin: 0px;
  /*font-size: 4em;*/
}

h2.vp-subtitle {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* desktop styles for the header */
@media (min-width: 1000px) {
  /* ... */
}

.vp-content {
  clear: both;
}

.vp-grid-list {
  padding: 0;
  list-style-type: none;
}

.vp-grid-list-item {
  clear: none;
  /*margin-top: 3%;*/
  /*padding: 3%;*/
  margin: auto;
  text-align: center;
  vertical-align: text-top;
  width: 80%;
}

/* tablet && landscape phone styles for elements within wrapper */
@media (min-width: 600px), handheld and (orientation: landscape){
  .vp-grid-list-item {
    float: left;
    min-height: 18rem;
    height: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 45%;
  }
}

/* desktop styles for elements within wrapper */
@media (min-width: 1000px) {
  .vp-grid-list-item {
    float: left;
    min-height: 15em;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    width: 27.333333%;
  }
}

.vp-space-filler, .vp-footer {
  height: 1.5em;
  clear: both;
  position: bottom;
}

.vp-footer {
  margin-top: -1.5em;  /* must be equal to height * -1 */
}

.vp-footer-text {
  text-align: center;
}