/* TODO: implement mobile-responsive header buttons which snap from right-justified to centered. */
/* TODO: implement an scss version to ease vp-grid-list-item width pains. Currently, changing the padding requires changing the width, and vice-versa. This isn't optimal.*/
/* TODO: Why does it use ems sometimes and rems other times?*/
/* TODO: modularize this; keep all footer-relevant code in a single chunk, et c. */

* {
  font-family: sans-serif;
  margin: 0px;
}

body, html {
  height: 100%;
  background-color: white;
  color: black;
}

/* === titles and whatever ===*/

h1.vp-title {
  text-align: center;
  margin: 0px;
}

h2.vp-subtitle {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* === end titles and whatever === */

/* to use vp-footer:
   <div class="vp-wrapper">
     <!-- stuff -->
     <div class="vp-space-filler"></div>
   </div>
   <div class="vp-footer">
     <!-- stuff -->
   </div>
*/


/* === header and footer: === */

  .vp-wrapper {
    min-height: 100vh;
  }

  /* edit common header and footer styles here */
  .vp-header, .vp-footer {
    background-color: black;
    color: white;
    width: 100%;
  }

  .vp-header {
    position: relative;
  }

  .vp-space-filler, .vp-footer {
    height: 1.5em;
    clear: both;
    position: bottom;
  }

  .vp-footer {
    margin-top: -1.5em;  /* must be equal to height * -1 */
    text-align: center;
  }

  /* desktop styles */
  @media (min-width: 1000px) {
    /* ... */
  }

/* === end header and footer === */


/* === responsive grid list: === */
  .vp-grid-list {
    padding: 0;
    list-style-type: none;
  }

  .vp-grid-list-item {
    clear: none;
    margin: auto;
    text-align: center;
    vertical-align: text-top;
  }

  /* tablet and landscape-oriented phones */
  @media (min-width: 600px), handheld and (orientation: landscape){
    .vp-grid-list-item {
      float: left;
      min-height: 18rem;
      height: auto;
      padding-right: 2.5%;
      padding-left: 2.5%;
      width: 45%;
    }
  }

  /* desktop */
  @media (min-width: 1000px) {
    .vp-grid-list-item {
      float: left;
      min-height: 15em;
      height: auto;
      padding-left: 3%;
      padding-right: 3%;
      width: 27.333333%;
    }
  }
/* === end grid list === */

